*.a
*.a.*
*.exp
*.in
*.la
*.lo
*.o
*.o.*
*.py[co]
*.so
*.so.*
*.tar.gz
*~
.*
CMakeCache.txt
CMakeFiles/
Makefile
bindings/cpp/dnet_cpp_indexes_test
bindings/cpp/dnet_cpp_test
cmake/EllipticsConfig.cmake
cmake/EllipticsConfigVersion.cmake
cmake_install.cmake
example/Makefile
example/dnet_check
example/dnet_find
example/dnet_hparser
example/dnet_ids
example/dnet_index
example/dnet_ioclient
example/dnet_ioserv
example/dnet_iotest
example/dnet_meta
example/dnet_meta_update_groups
example/dnet_notify
example/dnet_stat
include/Makefile
include/dnet/Makefile
include/elliptics/typedefs.h
install_manifest.txt
root/
tags
cocaine/plugins/elliptics-extensions.cocaine-plugin
example/crawler
example/download
example/elliptics/elliptics-server
debian/tmp
obj-x86_64-linux-gnu
debian/files
debian/libswarm-dbg/
debian/libswarm-dev/
debian/libswarm2-urlfetch/
debian/libswarm2-xml/
debian/libswarm2/
debian/libthevoid-dev/
debian/libthevoid2/
debian/*.log
debian/*.substvars
debian/libswarm2-urlfetcher/
debian/*.postinst.debhelper
debian/*.postrm.debhelper
debian/stamp-makefile-build
debian/stamp-makefile-install
