Source: swarm
Priority: extra
Maintainer: Ruslan Nigmatullin <euroelessar@yandex.ru>
Build-Depends: debhelper (>= 7), cmake, liburiparser-dev, libcurl4-openssl-dev, libxml2-dev,
  libev-dev, libboost-system-dev, libboost-thread-dev, libboost-program-options-dev, elliptics-dev
Standards-Version: 3.9.3
Section: libs
Homepage: https://github.com/reverbrain/swarm
Vcs-Git: git://github.com/reverbrain/swarm.git
Vcs-Browser: https://github.com/reverbrain/swarm

Package: libswarm1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Swarm is aiming at your web

Package: libswarm-dev
Section: libdevel
Architecture: any
Depends: libswarm1 (= ${binary:Version}), libev-dev
Description: Swarm is aiming at your web (devel)
 Development files

Package: libthevoid1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TheVoid

Package: libthevoid-dev
Section: libdevel
Architecture: any
Depends: libthevoid1 (= ${binary:Version}), libswarm-dev, libboost-system-dev, libboost-thread-dev
Description: TheVoid (devel)
 Development files
